main .new-tweet {
    border: 1px solid gray; 
    border-radius: 10px;
    margin-right: 2em;
    margin-left: 2em;
    padding: 10px;
    background-color: #EEE;
    display: none;
}

main .new-tweet h2 {
    border-bottom: 1px solid black;
    margin-top: 0px;
}

main .counter{
    float: right;
}

textarea {
    margin-bottom: 2px;
    width: 100%;
    padding: 4px;
}
 
.hide {
    display: none;
}

main .empty_error {
    color: red;
    font: italic;
    font-size: 0.8em;
}

main .excess_error {
    color:red;
    font: italic;
    font-size: 0.8em;
}

/* Date in footer */
main footer .span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main footer img{
    opacity: 0;
}

main footer .flag {
    float: right;
    width:1em;
    height: 1em;
 }

main footer .share {
    float: right;
    width:1em;
    height: 1em;
}

main footer .heart {
    float: right;
    width:1em;
    height: 1em;
 }
